body {
	font: 12px arial;
}
a {
	text-decoration: none;
}
img {
	border: 0;
}

/* tab menu */
#tab_menus {
	margin: 20;
	padding: 0;
	list-style: none;
    float: left;
}
#tab_menus li {
	margin-bottom: 16px;
	float: left;
	padding: 0px;
}
#tab_menus li a {
	padding: 8px 10px;
	color: #505050;
	border-width: 1px 0 1px 1px;
	border-style: solid;
	border-color: #ae9f96;
	background-color: #eae4e0;
	background-image: none;
	font-weight: bold;
	font-size: 0.9em;
	display: block;
}
#tab_menus li a:hover {
	color: black;
	background-color: #c6b5aa;
}
#tab_menus li.selected a {
	border-bottom: 0 solid white;
	background: white url("blt_arrowdown.gif") no-repeat center bottom;
	color: black;
}

body {
 width: 1300px;
    
}

/*.tab_right {
    margin-top: 20px;
	margin-bottom: 20px;
	border-width: 0 0 1px 1px;
	border-style: solid;
	border-color: #ae9f96;
	width: 1000px;
	height: 31px;
	float: left;
}*/


/* content */
.contents {
    width: 400px;
    float: left;
	clear: both;
	padding-left: 10px;
}
.contents h3 {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
}
.contents h3 a {
	color: #ff4800;
}

/* moresee */

#moreSeebtn {
    width: 60px;
    float: left;
	clear: both;
	padding-left: 10px;
    
}

